
.loginContainer {
    width: 370px;
    padding: 20px;
    text-align: left;
    margin-top: 50px;
    box-sizing: border-box;
    display: inline-block;
    background: #ffffff;
    border-radius: 5px;
}
input {
    width: 100%;
    font-size: 17px;
    padding: 8px 12px;
    box-sizing: border-box;
}
.loginFieldConatiner {
    margin: 5px 0px;
}
.loginFieldTitle {
    color: #80868a;
    margin: 8px 0px;
}
.loginField {
    margin-left: 5px;
}